<form
        method="post"
        action="{{ path('resultat_delete', {'id': resultat.id}) }}"
        onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément svp ?');"
        class="d-inline-block"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resultat.id) }}">
    <input type="hidden" name="_method" value="DELETE">
    <button class="d-inline-block btn" style="color: #47639E !important;"><i class="bi-trash-fill"></i></button>
</form>
