{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Arrondissement : {{ resultat.arrondissement.nom }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('resultat_index') }}" class="btn btn-primary mx-2">
                <i class="bi-backspace-fill"></i>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('resultat/_delete_form_button.html.twig') }}
            {% endif %}
        </div>
    </div>

    <div class="row mt-3 mb-5">
        <div class="col-12">
            <div class="card pt-3">
                <div class="card-body">
                    {{ include('resultat/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
